@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


a.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bar for horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media(max-width:640px) {
    a.active {
        background-color: black;
        color: white;
    }
}